[commands]
; DOMAIN INFORMATION GATHERING SECTION
whois = whois TARGET_HERE -H | grep -oE "^.*:.*$" | sed "s/>>>.*<<</ /g"
nslookup = nslookup TARGET_HERE

; SUBDOMAIN SECTION
subdomain_merge = sort SUBDOMAIN_WORDLISTS_PATH/* | uniq > SUBDOMAIN_MERGE_WORDLIST
; snrublist3r = python ../BBP_sus_tools_base/snrublist3r/snrublist3r.py --help
snrublist3r = python ../BBP_sus_tools_base/snrublist3r/snrublist3r.py -d TARGET_HERE --permutation-file ../BBP_sus_tools_base/snrublist3r/lists/permutation-strings.txt --silent
; When necessary change the snrublist3r script path here
; somehow subprocess python auto add absolute project path before the script path, so use the relative path
chaos = ../go/bin/chaos -silent -d TARGET_HERE
httpx = ../go/bin/httpx -silent -rl 450 -sc -nc -l TARGET_HERE 
domaintrail = python ../BBP_sus_tools_base/DomainTrail/DomainTrail.py -d TARGET_HERE -p
gobuster_subdomain = gobuster dns --no-color --timeout 2s --threads 4 -d TARGET_HERE

; PORTs AND SERVICES SCAN SECTION
; The nmap command has the regex sed to remove the latency difference to avoid noise in comparing logs at different time
; this sed and regex is quite dangerous because it may change unexpected information too so CHECK IT WHEN THERE IS A PROBLEM
nmap = nmap -sV --script=vuln TARGET_HERE | grep -vE "^SF.*$" | grep -vE "^.*FINGERPRINT.*$" | sed -r "s/\([0-9]+\.[0-9]+s latency\)/\(\)/"

; PARAMETERS AND WEB CRAWLING SECTION
blackwidow = python ./tools_base/blackwidow/blackwidow.py -u https://TARGET_HERE -l 3
gospider = gospider -s https://TARGET_HERE -t 4 -d 1 --sitemap -a
paramspider = python ../BBP_sus_tools_base/ParamSpider/paramspider/main.py -d TARGET_HERE -s

[temp]
subdomain_wordlists_path = ./SecLists/Discovery/DNS
subdomain_temp_path = ./temps/subdomain_temp
subdomain_temp_0_merged_wordlist = 100_temp_merged_subdomains_wordlist.txt
subdomain_temp_1_merged_wordlist = 101_temp_merged_subdomains_wordlist.txt
; 100 to make this list the last one in the subdomain wordlists in temp

; parameters and crawling path temp section 
params_temp_path = ./temps/params_temp


[log]
base_path = ./logs
output_order: whois,
    nslookup,
    nmap,
    subdomain

; subdomain tools log
subdomain_tools_log_path = subdomain_tools_log

; parameters and web crawling log
params_tools_log_path = params_tools_log